{% assign testimonials = site.data.data.testimonials %}
{% if testimonials %}
<section class="section testimonials-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ testimonials.title }}
  </h2>

  {% if testimonials.intro %}
  <div class="intro">
      <p>{{ testimonials.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for testimonial in testimonials.assignments %}
    <div class="item">

      <span class="testimonial-title">
        {% if testimonial.link %}
        <a href="{{ testimonial.link }}" target="_blank">{{ testimonial.author }} rel="noopener noreferrer"</a>
        {% else %}
        {{ testimonial.author }}
        {% endif %}
      </span>

      {% if testimonial.tagline %}
      - <span class="testimonial-tagline">{{ testimonial.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
