/*
  Theme colors
    - https://xkcd.com/color/rgb/
    - https://seaborn.pydata.org/generated/seaborn.color_palette.html
*/

$darken-amount: 30%;
$lighten-amount: 50%;

$primary-color-1: #4c71af; // Faded blue
$primary-color-2: #db8352;
$primary-color-3: #cbb873;

/* Basic colors */
$black: #000000;
$light-grey: #d8dcd6;
$dark-grey: #363737;
$white: #ffffff;

$pink: #ff2c85;
$purple: #ff01f2;
$red: #ff0000;

/* Default colors */
$unknown: $red;

$background-light: lighten($primary-color-1, $lighten-amount);
$background-dark: darken($primary-color-1, $darken-amount);

$heading-light: lighten($primary-color-2, $lighten-amount);
$heading-dark: darken($primary-color-2, $darken-amount);

$text-light: $white;
$text-dark: $black;

$text-link-light: lighten($primary-color-2, $lighten-amount);
$text-link-dark: darken($primary-color-2, $darken-amount);

$avatar-border-color: $unknown;
$background: $background-dark;
$body-background: $background-dark;
$body-text-color: $text-dark;
$company-text-color: $text-dark;
$job-edu-title-text-color: $text-dark;
$language-prof-text-color: $text-light;
$link-text-dark: $text-link-dark;
$link-text-light: $text-link-light;
$page-background: $background-dark;
$profile-container-background: $background-dark;
$profile-container-text: $background-light;
$project-title-color: $unknown;
$resume-background: $background-light;
$resume-title-color: $text-dark;
$sidebar-background: $background-dark;
$sidebar-wrapper-background: $background-dark;
$sidebar-wrapper-link-color: $background-light;
$sidebar-wrapper-text-color: $background-light;
$skill-bar-foreground-color: $background-dark;
$skillbar-background-color: $background-light;
$time-text-color: $text-dark;
$title-color: $text-dark;
$university-text-color: $text-dark;
$wrapper-background: $background-light;

/* Misc */
$heart: $red;
$copyright-text-color: $text-light;
