/*
  Theme colors
    - https://xkcd.com/color/rgb/
    - https://seaborn.pydata.org/generated/seaborn.color_palette.html
*/

$primary-color-1: #5a7d9a;
$primary-color-2: #c04e01;
$primary-color-3: #9ffeb0;

$lumen-small: 10%;
$lumen-med: 35%;
$lumen-large: 60%;


/* Basic colors */
$black: #000000;
$light-grey: #d8dcd6;
$dark-grey: #363737;
$white: #ffffff;

$pink: #ff028d;
$purple: #7e1e9c;
$red: #e50000;


/* Default colors */
$unknown: $red;

$background-light: lighten($primary-color-1, $lumen-med);
$background-dark: darken($primary-color-1, $lumen-med);

$heading-light: lighten($primary-color-2, $lumen-large);
$heading-dark: darken($primary-color-2, $lumen-large);

$text-light: $white;
$text-dark: $black;

$text-link-light: lighten($primary-color-2, $lumen-small);
$text-link-dark: darken($primary-color-2, $lumen-small);

$avatar-border-color: $unknown;
$background: $unknown;
$body-background: $background-dark;
$body-text-color: $text-dark;
$company-text-color: $text-dark;
$job-edu-title-text-color: $text-dark;
$language-prof-text-color: $text-light;
$link-text-dark: black;
$link-text-light: $white;
$page-background: $unknown;
$profile-container-background: darken($primary-color-1, $lumen-small); // profile pic background
$profile-container-text: $text-light;
$project-title-color: $unknown;
$resume-background: darken($white, $lumen-small);
$resume-title-color: $text-dark;
$sidebar-background: $background-dark;
$sidebar-wrapper-background: $primary-color-1;
$sidebar-wrapper-link-color: $link-text-light;
$sidebar-wrapper-text-color: $text-light;
$skill-bar-foreground-color: darken($primary-color-1, $lumen-small);
$skill-bar-background-color: $light-grey;
$time-text-color: $dark-grey;
$title-color: $primary-color-2;
$university-text-color: $dark-grey;
$wrapper-background: $background-light;

/* Misc */
$heart: $red;
$copyright-text-color: $text-light;
