/*
  Theme colors
    - https://xkcd.com/color/rgb/
    - https://seaborn.pydata.org/generated/seaborn.color_palette.html
*/

/* Basic colors */
$black: #000000;
$light-grey: #d8dcd6;
$dark-grey: #262626;
$white: #ffffff;

$error: #ff028d;

$primary-color-1: #5a7d9a;
$primary-color-2: #c04e01;
$primary-color-3: #becbdc;


// theme ======================================================================

// page background
$body-background: $dark-grey;


// main content ===============================================================

// main content background
$resume-background: lighten($primary-color-2, 60%);

// text
$resume-title-color: $black; // section headers
$job-edu-title-text-color: $primary-color-2;
$time-text-color: lighten($black, 45%);
$company-text-color: lighten($black, 45%);
$university-text-color: lighten($black, 45%);
$project-title-color: $primary-color-2;

// text and H2
$body-text-color: $dark-grey;

// skill bar colors
$skill-bar-background-color: darken($white, 5%);
$skill-bar-foreground-color: lighten($primary-color-2, 35%);

// links
$link-text: darken($primary-color-1, 20%);
$link-text-hover: darken($primary-color-1, 20%);
$sidebar-wrapper-link-color: $white;


// Sidebar ====================================================================

// profile pic background
$profile-container-background: darken($primary-color-1, 10%);

// profile pic border
$avatar-border-color: $primary-color-2;

// sidebar lower background color
$sidebar-wrapper-background: $primary-color-1;

// sidebar logos and titles
$sidebar-wrapper-text-color: $white;

// text
$language-prof-text-color: lighten($primary-color-2, 35%);
$profile-container-text: lighten($primary-color-2, 60%); // name text color


// unknown
$wrapper-background: $error; // No visible wrapper

/* Misc */
$heart: #e50000;
$copyright-text-color: $white;
